<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Server Template</title>
    <link rel="stylesheet" type="text/css" href="/styles/globalStyles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="/styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="/styles/weather-widget.css" />
  </head>
  <body>
    <!-- Header section -->
    <%- include("../components/header") %>

    <!-- Main section -->
    <div class="main-div">
      <h1>Dashboard</h1>
      <h5>
        Server is running on port
        <span class="port-style"> <%= serverPort %> </span>
      </h5>

      <div class="logout">
        <a class="btn" href="/logout" role="button">Log Out</a>
      </div>
      <div class="flex-cont">
        <div class="flex-sub-cont">
          <%- include("../components/date-widget") %> <%-
          include("../components/weather-widget") %>
        </div>
        <div class="flex-sub-cont">
          <%- include("../components/login-history") %>
        </div>
      </div>
    </div>

    <!-- Footer section -->
    <%- include("../components/footer") %>
    <script src="/scripts/weather-service.js"></script>
    <script src="/scripts/weather-ui.js"></script>
    <script src="/scripts/weather-widget.js"></script>
  </body>
</html>
